<div class="wrapper">
  <div class="container">
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-0 col-lg-4 hpadding-1 user-profile">
      <img src="https://goo.gl/Y5A466" class="card-user-avatar">
      <div class="user-info">
        <strong><h2><%= @user.email.split("@").first %></h2></strong>
      </div>
      <div class="user-bookings">
        <h2>Number of bookings: <%= @user.bookings.count %></h2>
        <h2>Number of listings: <%= @user.boats.count %></h2>

      </div>

    </div>

    <div class="row">
      <h2>Your Bookings</h2>
      <hr>
       <% @bookings.each do |booking| %>
          <%= link_to boat_path(booking.boat) do %>
          <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-0 col-lg-4 hpadding-1">
            <div class="booking_card">

              <% if booking.boat.photo1.file == nil %>
                <%= image_tag("homepagebackground3.jpg", class: "boatimage") %>
              <% else %>
                <%= cl_image_tag booking.boat.photo1, class: "boatimage" %>
              <% end %>
              <div class="cardfooter">
                <div class="text">
                  <strong>checkin:</strong> <%= booking.checkin %>
                </div>
                <div>
                  <strong>checkout:</strong> <%= booking.checkout%>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>
    <hr>

     <div class="row">
      <h2>Your Boats</h2>
      <hr>
      <% @boats.each do |boat| %>
        <%= link_to boat_path(boat) do %>
          <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-0 col-lg-4 hpadding-1">
            <div class="boat_card">
              <% if boat.photo1.file == nil %>
                <%= image_tag("homepagebackground3.jpg", class: "boatimage") %>
              <% else %>
                <%= cl_image_tag boat.photo1, class: "boatimage" %>
              <% end %>
              <div class="cardfooter">
                <div>
                  <%= boat.name %>
                </div>
                <div>
                  $ <%= boat.price.round %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
