
<div class="wrapper bg-primary-blue">
  <div class="container navbar-margin">
    <%= form_tag boats_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your boat - Enter a City"
      %>
      <%= submit_tag("Search") %>
    <% end %>

    <div class="row">
      <% @boats.each do |boat| %>
        <%= link_to boat_path(boat) do %>
          <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-0 col-lg-4 hpadding-1">
            <div class="boat_card ">
              <div class="boatimage"></div>
              <div class="cardfooter">
                <div>
                  <%= boat.name %>
                </div>
                <div>
                  $ <%= boat.price.round %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-5 ">
        <%= link_to "Add your boat!", new_boat_path, class: "homepagebutton" %>
      </div>
    </div>
  </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 250px;"
  data-markers="<%= @markers.to_json %>"
></div>
