
<div class="wrapper">
  <div class="container navbar-margin">
    <div class="row">
      <% @boats.each do |boat| %>
        <%= link_to boat_path(boat) do %>
          <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-0 col-lg-4 hpadding-1">
            <div class="boat_card">
              <%= image_tag("homepagebackground3.jpg", class: "boatimage") %>
              <div class="cardfooter">
                <div>
                  <%= boat.name %>
                </div>
                <div>
                  $ <%= boat.price.round %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-5 ">
        <%= link_to "Add your boat!", new_boat_path, class: "homepagebutton" %>
      </div>
    </div>
  </div>
</div>
